.chat-main
  .group__info
    .group__info__leftcontent
      .group__info__leftcontent__group-name 
        = @group.name
      .group__info__leftcontent__member
        %p.group__info__member-name
          Member :
          - @group.users.each do |users|
            = users.name

    =link_to edit_group_path(current_user) ,class: "edit-btn" do
      Edit
  .message-list
    = render @messages
  .write_message
    = form_for [@group, @message] do |f|
      .write_message__form
        .write_message__form__frame
          = f.text_field :content, class: 'write_message__form__frame__text', placeholder: 'type a message'
          %label{class: "input-box__image"}
            = icon('far', 'image')
            = f.file_field :image, class: 'image'
        = f.submit 'Send', class: 'send-btn'

